<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Farahi Law</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="styles.css">
</head>
<body>
<!-- Live chat comes from NGage -->
<!-- Langauge Translate comes from Google Cloud API ($$$) -->
<div class="container-fluid">
<div class="row">
	<img class="col-md" src="images/logo.png" />
	<div class="col-md">
	<div class="btn-group-vertical float-right">
		<a role="button" href="tel:3107744500" class="btn btn-outline-basic text-right">
			Call (310)-774-4500 Now <i class="fa fa-lg fa-phone" style="color:lightGreen"></i>
		</a>
			<a role="button" href="#" class="btn btn-outline-light text-right">
				<i class="fa fa-lg fa-twitter" style="color:#45b0e3"></i>
			</a>
			<a role="button" href="https://www.facebook.com/FarahiLawFirm" class="btn btn-outline-light text-right">
				<i class="fa fa-lg fa-facebook-square" style="color:#39599f"></i>
			</a>
			<a role="button" href="#" class="btn btn-outline-light text-right">
				<i class="fa fa-lg fa-google-plus-official" style="color:#e53d1d"></i>
			</a>
		</div>
		</div>
		</div>
	<div class="row">
	<div class="col-md"></div>
	<div class="col-md" ng-app="consultForm" ng-controller="formCtrl">
	<span ng-bind="resp" ng-if="form.$submitted"></span>
		<form name="form" ng-submit="submit($event)" ng-hide="form.$submitted" novalidate>
		<div class="form-group">
		<input type="text" ng-model="name" name="name" class="form-control" required placeholder="Your Name*" />
		<input type="tel" ng-model="phone" name="phone" class="form-control" required placeholder="Phone Number*" />
		<textarea ng-model="msg" class="form-control" name="msg" placeholder="Your Message"></textarea>
		<input type="submit" ng-model="submit" value="Submit" ng-disabled="form.$submitted || form.name.$invalid || form.phone.$invalid" />
		</div>
		</form>
	</div>
		</div>

</div>
<script>
var app = angular.module('consultForm', []);
app.controller('formCtrl', function($scope,$http,$q) {
	$scope.resp = "Sending...";
   $scope.submit = function(e) {
   $http.post("http://localhost:8080",angular.element(e.target).serialize()).then(function(response)
   {$scope.resp = response.data}); 
 /* Php+jQuery $q(function(resolve,reject) {jQuery.post("http://localhost:8080",angular.element(e.target).serialize(), 	function(response) {
   		resolve(response); }); }).then(function(r){$scope.resp = r;});*/
   	   }
});
</script>
</body>
</html>
